{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Mors Tyrannis | {{ community.name }}</title>{% endblock %}
{% block extra_scripts %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% if is_community_member %}
        <a href="{% url 'communities:create-post' community.slug %}" class="btn btn-primary rounded-3 mt-3" style="width: 11em;">Create Post</a>
        {% else %}
        <button onclick="join_attempt('{{ community.slug }}')" id="join_community_button" class="btn btn-primary rounded-3 mt-3" style="width: 11em;">Join Community</button>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>{{ community.name }}</h1>
            <p>{{ community.description }}</p>
        </div>
    </div>
    {% for post in posts %}
    {% include 'communities/post-card.html' %}
    {% endfor %}
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/session_cookie.js' %}"></script>
{% if not is_community_member %}
<script src="{% static 'js/join-community.js' %}"></script>
{% endif %}
<script src="{% static 'js/up-down-vote.js' %}"></script>
{% endblock %}