{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Mors Tyrannis | {{ community.name }}</title>{% endblock %}
{% block extra_scripts %}
{% endblock %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
    {% if user == community.creator %}
    <div class="row">
        <div class="col">
            <a href="{% url 'communities:edit' community.slug %}" class="btn btn-primary">Edit Community</a>
        </div>
    </div>
    {% endif %}
    {% if community.has_join_requests %}
    <div class="row">
        <div class="col">
            <a href="{% url 'communities:review-join-requests' community.slug %}" class="btn btn-primary">View Join Requests</a>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div id="post">
            <a href="{% url 'communities:create-post' community.slug %}" class="btn btn-primary rounded-3 mt-3" style="width: 11em;">Create Post</a>
        </div>
        <div id="join">
            {% if is_follower %}
            <button onclick="unjoin_attempt('{{ community.slug }}')" id="unjoin_community_button" class="btn btn-primary rounded-3 mt-3" style="width: 11em;">Unfollow</button>
            {% else %}
            <button onclick="join_attempt('{{ community.slug }}')" id="join_community_button" class="btn btn-primary rounded-3 mt-3" style="width: 11em;">Follow</button>
            {% endif %}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ community.name }}</h1>
            <p>{{ community.description }}</p>
        </div>
    </div>
    {% for post in posts %}
    {% include 'communities/post-card.html' %}
    {% endfor %}
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/session_cookie.js' %}"></script>
<script src="{% static 'js/join-community.js' %}"></script>
<script src="{% static 'js/up-down-vote.js' %}"></script>
{% endblock %}