<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ community.name }}</h1>
            <p>{{ community.description }}</p>
        </div>
    </div>
    {% for post in posts %}
    <div class="row">
        <div class="col-4">{{ post.title }}</div>
        <div class="col-2">{{ post.user }}</div>
        <div class="col-1">{{ post.like_count }}</div>
        <div class="col-1">{{ post.dislike_count }}</div>
        <div class="col-1">{{ post.created_at }}</div>

    </div>
    {% endfor %}
</div>