{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Mors Tyrannis | Create Post</title>{% endblock %}
{% block extra_scripts %}
<script src="{% static 'jquery/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/post_type.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Create Post</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table id="form-container" class="table table-borderless">
                    {{ form.as_table }}
                </table>
                {% if edit %}
                <button type="submit" class="btn btn-primary">Edit Post</button>
                {% else %}
                <button type="submit" class="btn btn-primary">Create Post</button>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
