{% load static %}
{% load user_tags %}
<div class="card">
    <div class="card-body">
        {% if post.post_type == 'link' %}
        <a href="{{ post.url }}"><h5 class="card-title">{{ post.title }}</h5></a>
        {% if post.get_embed != None %}
            <div class="video-container">{{ post.get_embed|safe }}</div>
        {% endif %}
        {% else %}
        <h5 class="card-title">{{ post.title }}</h5>
        {% endif %}
        {% if post.post_type == 'text' %}
        <p class="card-text">{{ post.content|linebreaks }}</p>
        {% elif post.post_type == 'image' %}
        <img src="{{ post.image.url }}" class="card-img-top" alt="">
        {% endif %}
        <div class="card-text d-flex">
            <div id="post-up-arrow-{{ post.id }}" class="arrow {% if post|has_user_upvote:user %}up-arrow-active{% else %}up-arrow{% endif %} "  onclick="vote_post('{{ post.get_upvote_url }}', {{ post.id }})"></div>
            <div id="post-rep-{{ post.id }}" class="text-center" style="width:30px">{{ post.total_rep }}</div>
            <div id="post-down-arrow-{{ post.id }}" class="arrow {% if post|has_user_downvote:user %}down-arrow-active{% else %}down-arrow{% endif %} "  onclick="vote_post('{{ post.get_downvote_url }}', {{ post.id }})"></div>
        </div>
        <div class="card-text">
            <small class="text-muted">{{ post.user.username }}</small>
            <small class="text-muted">| Created: {{ post.created_at|date:"F j, Y g:i:s" }}</small>
            {% if post.edited_at %}
            <small class="text-muted">| Edited: {{ post.edited_at|date:"F j, Y g:i:s" }}</small>
            {% endif %}
            {% if post.user == user %}
            <small class="text-muted">| <a href="{% url 'communities:edit-post' post.community.slug post.id %}">Edit</a></small>
            {% endif %}
            <small class="text-muted">| <a href="{{ post.get_absolute_url }}" class="card-link">Comments</a> {{ post.comment_count }} </small>
            <small class="text-muted">| <a href="{% url 'communities:post-add-comment' post.community.slug post.id %}" class="card-link">Add Comment</a></small>
        </div>
    </div>
</div>