{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Mors Tyrannis | {{ post.title }}</title>{% endblock %}
{% block content %}
<div class="container">
    {% include 'communities/post-card.html' %}

    {% for post_comment in post_comments %}
    {% include 'communities/comment-card.html' %}
    {% endfor %}
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/session_cookie.js' %}"></script>
<script src="{% static 'js/up-down-vote.js' %}"></script>
{% endblock %}