{% load user_tags %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'base:index' %}">Mors Tyrannis<sup><small class="text-muted">Beta</small></sup></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{% url 'base:index' %}">Home</a>
        <a class="nav-link" href="{% url 'communities:list' %}">Communities</a>
        {% if user|user_has_notification %}
          <a class="nav-link" href="{% url 'users:notifications' %}">Notifications</a>
        {% endif %}
        {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" style="color: #D4AF37 !important;" href="{% url 'logout' %}">Logout</a></li>
        {% else %}
          <li class="nav-item"><a class="nav-link" style="color: #D4AF37 !important;" href="{% url 'login' %}">Login</a></li>
        {% endif %}
      </div>
    </div>
  </div>
</nav>