{% extends "base.html" %}
{% block title %}<title>Mors Tyrannis | Change Password</title>{% endblock %}
{% block content %}
    <div class="container">
        {% if validlink %}
            <p>Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
            <form action="" method="post">
            {% csrf_token %}
                <table>
                    <tr>
                        <td>{{ form.old_password.errors }}
                        <label for="id_old_password">Old password:</label></td>
                        <td>{{ form.old_password }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.new_password1.errors }}
                            <label for="id_new_password1">New password:</label></td>
                        <td>{{ form.new_password1 }}</td>
                    </tr>
                    <div class="help">
                        <ul>
                            <li>Your password can't be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can't be a commonly used password.</li>
                            <li>Your password can't be entirely numeric.</li>
                        </ul>
                    </div>
                    <tr>
                        <td>{{ form.new_password2.errors }}
                            <label for="id_new_password2">Confirm password:</label></td>
                        <td>{{ form.new_password2 }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" class="btn btn-primary rounded-3 mt-3" value="Change my password" /></td>
                    </tr>
                </table>
            </form>
        {% else %}
            <h1>Password reset failed</h1>
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endif %}
    </div>
{% endblock %}